.app-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.bgvideo {
  width: 100%;
  height: 100vh;
}

.dimmer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}

.menu-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 350px;
  background-color: #101010;
  transition: transform 0.5s ease-out;
  transform: translateY(100%); /* Initially off-screen */
}

.menu-container.slide-in {
  transform: translateY(0); /* Slide into view */
}

.main-content {
  width: 80%;
}
