.promo-container {
  display: flex;
  gap: 16px;
  width: 100%;
}
.promo-container .promo-card {
  width: 358px;
  height: 256px;
}

.promo-container .preview-container {
  height: 192px;
  width: 342px;
  border: 3px solid transparent;
  transition: border-color 0.5s;
}
.promo-card:focus .preview-container {
  border-color: #ebebeb;
}
.preview-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.promo-container .footer {
  color: #a7a9ab;
  font-size: 16px;
}
.promo-container .footer h1 {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: #a7a9ab;
  transition: color 0.5s;
}
.promo-container .footer p {
  color: transparent;
  transition: color 0.5s;
}

.promo-card:focus .footer h1 {
  color: #ebebeb;
}

.promo-card:focus .footer p {
  color: #a7a9ab;
}
