/* General icon styles */
.menu-item svg {
  width: 30px;
  height: 30px;
}

/* Restart */
.icon-restart {
  fill: #6f6f6f;
}

/* iPlayer */
.icon-iplayer path:first-child {
  fill: #8d8d8d;
}

.icon-iplayer path:nth-child(2) {
  fill: #aaa;
}

.icon-iplayer path:nth-child(3) {
  fill: #6f6f6f;
}

/* Sounds */
.icon-sounds path:first-child {
  fill: #6f6f6f;
}

.icon-sounds path:nth-child(2) {
  fill: #8d8d8d;
}

.icon-sounds path:nth-child(3) {
  fill: #aaa;
}

/* When icon focused add original colours */
/* Restart */
.icon-restart.focused {
  fill: #ebebeb;
}

/* iPlayer */
.icon-iplayer.focused path:first-child {
  fill: #cd2974;
}

.icon-iplayer.focused path:nth-child(2) {
  fill: #eb468a;
}

.icon-iplayer.focused path:nth-child(3) {
  fill: #af105b;
}

/* Sounds */
.icon-sounds.focused path:first-child {
  fill: #922510;
}

.icon-sounds.focused path:nth-child(2) {
  fill: #ba3c10;
}

.icon-sounds.focused path:nth-child(3) {
  fill: #da5a10;
}
